*.exe
*.obj
*.tlog
*.log
*.suo
*.idb
*.pdb
*.ilk
*.sln
*.sdf
*.db
*.vcxproj
*.vcxproj.filters
NESremu/NESremu/Debug/
NESremu/NESremu/x64/
NESremu/NESremu/x86/
NESremu/NESremu/.vs/
NESremu/Debug/
NESremu/x64/
NESremu/x86/
NESremu/.vs/